.container
{
    display: flex;
    flex-direction: row;
    border: 3px solid lightgrey;

}

.box
{
    flex-basis: 10rem;
    width: 5rem;
    height: 5rem;
    background: gold;
    margin: 1rem;
}

